<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pet Tracker</title>

  <!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.theme.min.css">

  <!-- Custom styles for this template -->
  <link href="/assets/styles/main_pet.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body>
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="#">Pet Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Services&nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">View Track</a>
                </li>
                <li><a href="#">Activity Reports</a>
                </li>
                <li><a href="#">Area Alerts</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header">
  <div class="header-bg">
    <h1>Improve your pet's life.</h1>
    <h3>Follow it's tracks. Get health reports. Keep them safe.</h3>
    <a href="#packages" type="button" class="btn btn-xlarge btn-header" tabindex="3">See our service packages</a>
  </div>
</div>
<p id="about"></p>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="http://lh3.googleusercontent.com/yO4HfDelk2x1Birqrfyj3RIa30BLBc1YFb2h2J0aQYa7RdmF-K626k4CYmjOmkIdQcG6oWq5ndtA3WjI-3rqUrk=s0" alt="Track your Pet" style="width: 140px; height: 140px;" />
      <h2>Track your pet</h2>
      <p>With the Pet Track device, you can see your pet walking freely in your neighborhood on the map in our web application. Know it's preferred places and spots.</p>
      <p><a class="btn btn-success" href="#" role="button">View example &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="http://lh3.googleusercontent.com/-Gt9Z25Oim6VQqPJlbnM18pjnl-vTNcoiYSVf_kzfX8hvvgNKniZmdwEMpEBOjxB3NpLYhNOeK3Jr1esjlosZMM" alt="Activities Reports" style="width: 140px; height: 140px;" />
      <h2>View activity reports</h2>
      <p>Get real-time information about your pet's activities. See how healthy it is and don't forget to walk your pet anymore!</p>
      <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="http://lh3.googleusercontent.com/Ii6IWSQa4-9h14gzQxfM2jHYx8_U35YjcCUx51lNFP7zqMY2XbNauRyekM_4_G5umg4lpDg0IHwTrmHHY52XAvI" alt="Custom Alerts" style="width: 140px; height: 140px;" />
      <h2>Gain peace of mind</h2>
      <p>Get alerted by our mobile app in case of odd activities,&nbsp;<span style="line-height: 1.42857;">it getting too far or even&nbsp;</span><span style="line-height: 1.42857;">losing your beloved pet.</span>
      </p>
      <p><a class="btn btn-success" href="#" role="button">More info &raquo;</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" width="3364" height="213" />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" />
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" />
    </div>
  </div>
  <hr class="featurette-divider" />
  <!-- /END THE FEATURETTES -->
</div>
<div class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2 class="big-h2-heading"><i class="icon-envelope"></i> Contact Us</h2>
        <p>Contact us to learn more about our product. We'll be in touch soon! Fill out the form or drop us an email to <a href="mailto:info@xplenty.com">info@pet.com</a>.</p>
        <form id="contactUsForm" class="form-main" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" novalidate="novalidate">
          <fieldset>
            <!-- Form Name -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="contact_first_name">Name <abbr title="required">*</abbr>
              </label>
              <div class="controls">
                <input id="contact_first_name" name="first_name" type="text" placeholder="" class="input-xlarge required" aria-required="true" />
              </div>
            </div>
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="contact_email">E-mail <abbr title="required">*</abbr>
              </label>
              <div class="controls">
                <input id="contact_email" name="email" type="text" placeholder="" class="input-xlarge required email" aria-required="true" />
              </div>
            </div>
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="contact_message">Message <abbr title="required">*</abbr>
              </label>
              <div class="controls">
                <textarea id="contact_message" name="00Nb0000009NMvh" rows="3" type="text" wrap="soft" class="input-xlarge required" aria-required="true"></textarea>
              </div>
            </div>
            <div class="control-group hide">
              <div class="controls">
                <input maxlength="10" name="00Nb0000007as9g" size="20" type="text" value="yes" class="spam-input" />
              </div>
            </div>
            <div class="actions">
              <button type="submit" class="btn btn-large btn-primary " tabindex="4">Submit</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-4 col-md-offset-1 vcard">
        <h2 class="big-h2-heading"><i class="icon-map-marker"></i> Locate Us</h2>
        <p class="margintop10"><span class="fn org">Our HQ</span>
        </p>
        <div class="adr">
          <p><i class="icon-road"></i>  <span class="street-address">50 Main St</span>
          </p>
          <p><i class="icon-home"></i>  <span class="locality">San Francisco</span>, <span class="region">CA</span>  <span class="postal-code">94111</span>
          </p>
        </div>
        <iframe width="600" height="450" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.8968825939833!2d-122.39587069999999!3d37.79245629999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580638aba3b7f%3A0x55a37465e30f91b2!2s50+Main+St%2C+San+Francisco%2C+CA+94111%2C+USA!5e0!3m2!1sen!2suk!4v1413975007640"
                frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container" id="packages">
  <div class="row">
    <!-- price & service -->
    <div class="container">
      <div class="row">
        <h2 id="details">Choose your service package:</h2>
      </div>
      <br />
      <!-- Pack 1-->
      <div class="col-md-3" id="home-box">
        <div class="pricing_header">
          <h2>Puppy</h2>
          <div class="space"></div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Access to <strong>web</strong> application</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>  <strong>3</strong> custom <strong>alerts</strong>  <em>(e-mail only)</em>
          </li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;<strong>Mobile</strong> app. Free download</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;SMS and Telegram app. alerts</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;<strong>Activity</strong> reports</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Veterinarian phone support</li>
        </ul>
        <div class="try">
          <p class="price">$ 19.99 (monthly)</p>
          <a class="btn btn-default" href="#" type="button">Select</a>
        </div>
      </div>
      <!-- Pack 2-->
      <div class="col-md-3" id="home-box">
        <div class="pricing_header">
          <h2>&nbsp;Adult Pet&nbsp;</h2>
          <div class="space"></div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Access to <strong>web</strong> application</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>5</strong> custom&nbsp;<strong>alerts</strong>  <em>(e-mail only)</em>
          </li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>Mobile</strong> app. Free download</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;SMS and Telegram app. alerts</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;<strong>Activity</strong> reports</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Veterinarian phone support</li>
        </ul>
        <div class="try">
          <p class="price">$ 44.99&nbsp;<span style="line-height: 1.42857;">(monthly)</span>
          </p>
          <a class="btn btn-default" href="#" type="button">Select</a>
        </div>
      </div>
      <!-- Pack 3-->
      <div class="col-md-3" id="home-box">
        <div class="pricing_header">
          <h2>Pet Lover</h2>
          <div class="space"></div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Access to <strong>web</strong> application</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>9</strong> custom <strong>alerts</strong>
          </li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>Mobile</strong> app. Free download</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;SMS and Telegram app. alerts</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>Activity</strong> reports</li>
          <li class="list-group-item off list-group-item-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Veterinarian phone support</li>
        </ul>
        <div class="try">
          <p class="price">$ 79.99&nbsp;<span style="line-height: 1.42857;">(monthly)</span>
          </p>
          <button class="btn btn-default" href="#" type="button">Select</button>
        </div>
      </div>
      <!-- Pack 4-->
      <div class="col-md-3" id="home-box">
        <div class="pricing_header">
          <h2>Royal Pet Lover</h2>
          <div class="space"></div>
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Access to <strong>web</strong> application</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>Unlimited</strong> custom <strong>alerts</strong>
          </li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>Mobile</strong> app. Free download</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;SMS and Telegram app. alerts</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;<strong>Activity</strong> reports</li>
          <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;Veterinarian phone support</li>
        </ul>
        <div class="try">
          <p class="price">$ 99.99&nbsp;<span style="line-height: 1.42857;">(monthly)</span>
          </p>
          <button class="btn btn-default" href="#" type="button">Select</button>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider" />
  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a>
    </p>
    <p>&copy; 2016 Pet Track, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
  </footer>
</div>
<!-- /.container -->
<p></p>
<!-- Bootstrap core JavaScript
================================================== -->
<p></p>
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.4.0/holder.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.2/owl.carousel.min.js"></script>
</body>

</html>
