<h2>Create a Customer</h2>

<form action="/customer/create" method="post">
  <input type="text" placeholder="Name" name="name" required><br>
  <input type="text" placeholder="E-mail" name="email"><br>
  <input type="text" placeholder="State" name="state"><br>
  <br>
  <input type="submit" value="Create Customer">
</form>
